::after,
::before,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: darkgray;
}

.container {
  width: 594px;
  min-height: 400px;
  background-color: red;
  margin: 76px auto;
  padding: 75px;
  box-shadow: -3px 17px 8px orangered;
}

.input_button_parent {
  background-color: #fff;
  padding: 8px 5px;
  display: flex;
  border-radius: 10px;
  margin: 10px 0px;
}
.input {
  padding: 8px 25px;
  flex-grow: 1;
  font-size: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
}
.add {
  background-color: greenyellow;
  width: 75px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.app {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  color: rgb(20, 218, 168);
}

.parent_of_li {
  width: 100%;
  background-color: #bda17d;
  padding: 9px 6px;
  border-radius: 8px;
  max-height: 100vh;
  overflow-x: hidden;
  min-height: 217px;
}

.item {
  border-radius: 14px;
  background-color: #cbd5ab;
  padding: 5px 6px;
  font-size: 22px;
  text-transform: capitalize;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove_btn {
  background-color: #ceba96;
  padding: 8px 16px;
  border-radius: 11px;
}
.remove_btn .icon {
  font-size: 20px;
}
